/* Add your custom styles here */
/* You can customize the styles for the menu bar and hamburger icon */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: muli-regular;
  src: url(../fonts/muli/Muli-Regular.ttf);
}

@font-face {
  font-family: muli-semibold;
  src: url(../fonts/muli/Muli-SemiBold.ttf);
}

@font-face {
  font-family: muli-bold;
  src: url(../fonts/muli/Muli-Bold.ttf);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* font-size: 13px; */
  margin: 0;
  background: url("./Images/headcodes-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

input,
textarea,
select,
button {
  font-family: muli-regular;
  color: #ffffff;
  font-size: 13px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 21px;
  font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:hover {
  transition: 0.3s ease-out;
  color: rgb(92, 3, 3);
}
p,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}
.subhead {
  font-size: 30px;
  font-weight: 700;
}
img {
  max-width: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: none;
}

.wrapper {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.inner {
  min-width: 850px;

  padding-top: 68px;
  padding-bottom: 48px;
  background: url(../images/registration-form-2.jpg);
}

.inner h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  margin-bottom: 32px;
  color: #ffffff;
  letter-spacing: 2px;
}

form {
  width: 50%;

  box-shadow: 5px 5px 10px rgb(90, 5, 5), -5px -5px 10px rgb(0, 0, 0);
  border-radius: 27px;
  padding: 30px;
  background: transparent;
  margin-bottom: 50px;
}

.form-group {
  display: flex;
}

.form-group .form-wrapper {
  width: 50%;
}

.form-group .form-wrapper:first-child {
  margin-right: 20px;
}

.form-wrapper {
  margin-bottom: 17px;
}

.form-wrapper label {
  margin-bottom: 9px;
  display: block;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form-control {
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  font-family: muli-bold;
  background: 0 0;
}

.form-control:focus {
  border: 1px solid #ae3c33;
}
.forms {
  width: 100%;
}
.content {
  margin-top: -20px;
  width: 100%;
}

.mainHead {
  width: 100%;
  display: inline-flex;
  font-size: 50px;
  font-weight: 700;
  text-shadow: -3px -3px 5px #a99c9c;
}
.subContent {
  margin-top: 30px;
  padding-top: 20px;
  font-size: 20px;
}
h1 {
  color: white;
  font-size: 50px;
  margin-top: -50px;
  margin-bottom: 50px;
}
.video1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
}
.media-canvas {
  /* background-color: yellow; */
  height: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 57%;
  align-items: center;
}
.media-canvas iframe {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  padding-left: 20px;
}

select option[value=""][disabled] {
  display: none;
}

button {
  border: none;
  width: 152px;
  height: 40px;
  margin: auto;
  margin-top: 29px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  font-size: 13px;
  color: black;
  text-transform: uppercase;
  font-family: muli-semibold;
  border-radius: 20px;
  overflow: hidden;
  /* -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .5s;
    transition-duration: .5s */
}
button:hover {
  color: white;
  background-color: rgb(92, 3, 3);
  transition: 0.5s ease-in-out;
}
button:focus {
  outline: 0px auto -webkit-focus-ring-color;
}

.checkbox {
  position: relative;
}

.checkbox label {
  padding-left: 22px;
  cursor: pointer;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 12px;
  width: 13px;
  border-radius: 10px;
  background-color: #ebebeb;
  border: 1px solid #ccc;
  font-family: Material-Design-Iconic-Font;
  color: #000;
  font-size: 10px;
  font-weight: bolder;
}

.checkmark:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  content: "\f26b";
}

.coders {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(75, 0, 0, 0.5)),
    url("./Images/bg2.jpg");
  background-size: cover;
  color: aliceblue;
  background-repeat: no-repeat;
}
footer .nav {
  display: -ms-flexbox;
  display: flex;
  /* -ms-flex-wrap: wrap; */
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: end;
}
footer a {
  display: flex;
  align-items: center;
  justify-content: start;
}
footer p {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .inner {
    min-width: 768px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .inner {
    min-width: auto;
    background: 0 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .content {
    margin-top: 2rem;

    align-items: center;
  }
  .content h2 {
    text-align: center;
    align-items: center;
    margin-left: 20px;
  }
  form {
    width: 100%;
    margin-left: -20px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-brand {
    width: 50%;
  }
  .navbar button {
    margin: 0;
    width: 80px;
    background-color: transparent;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
    /* Background color of the expanded menu */
  }

  .navbar-toggler-icon {
    background-color: #302828; /* Color of the lines in the hamburger icon */
  }

  .forms {
    display: flex;
    flex-direction: column-reverse;
  }
  .coders {
    overflow: scroll;
    height: 100vh;
  }
  footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
